body {
    margin: 0px;
    width: 100%;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: relative;
}
header nav{
    height: 60px;
    display: flex;
    justify-content: flex-end;
}
ul {
    width: 250px;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
}
li a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

li a:hover{
    text-decoration: underline;

}

.GoogleApp{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
li a .GoogleApps:hover{
    background-color: #e5e6ea;
    padding: 7px;
    border-radius: 100px;
    border-style: none;
   
    
}
.perfil{
    margin-left: 10px;
    border-radius: 50%;
}
/*main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/
 .google {    
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding: 80px;
}

content{
display: flex;
height: 44px;
background: #fff;
border: 1px solid #dfe1e5;
box-shadow: none;
border-radius: 24px;
margin: 0 auto;
width: auto;
max-width: 584px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

/*.busqueda{
    position: absolute;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    box-shadow: -1px -1px 5px rgba(142, 141, 141, 0.762);
    top: 48px;
    right: 10px;
    max-width: 280px;
    height: 400px;
    background: white;
    display: none;
    overflow-y: scroll;
}
.busqueda.active{
    display: block;
  }*/
.lupa{
    padding: 10px;
}
input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
}

.search input{
    flex-grow: 2;
    border: none;
    width: 450px;
}

.mic{
    padding: 5px;
}


.camera{
   padding: 5px;
}
.suerte {
  height: 70px;
  padding-top: 30px;
  display: flex;
  justify-content: center;   
}
center button{
    background-color: #f8f9fa;
    border-radius: 4px;
    border: none;
    height: 36px;
}
.btn2 a{
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    padding: 10px;
    text-decoration: none;
    width: 147px;
    height: 34px;
}
.btn2:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.separador{
    height: 100px ;
}
footer{
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.arg{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: block;
}


.final{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

div .footer1{
    display: flex;
    font-size: 14px;
}
.footer2{
    display: flex;
    font-size: 14px;
}
.footer1 a{
    color: #70757a;
    text-decoration: none;
    padding: 30px;
    cursor: pointer;
}

.footer2 a{
    color: #70757a;
    text-decoration: none;
    padding: 30px;
    cursor: pointer;
    display: inline-block;
}

.footer1 a:hover{
    text-decoration: underline;
}
.footer2 a:hover{
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .final{
    justify-content: column;
    align-items: center;
}
    .footer2{
        margin-top: 20px;
}
}

.container{
    position: absolute;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    box-shadow: -1px -1px 5px rgba(142, 141, 141, 0.762);
    top: 48px;
    right: 10px;
    max-width: 280px;
    height: 400px;
    background: white;
    display: none;
    overflow-y: scroll;
}
.container.active{
    display: block;
  }
  

.prueba{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}
ul{
    padding: 0px;
}
.botonera {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.botonera a{
    padding: 10px;
    background: transparent;
    text-decoration: none;
    color: black;

}
#fotocuenta{
    border-radius: 10px;
}
.botonera img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 40px;
    height: 40px;

}

.botonera:hover{
    background-color: #dde6f9;
    border-radius: 10px;
}
.botonera a:hover{
    text-decoration: none;
}
